<footer>
    <p>&copy; <%= new Date().getFullYear() %> Todd Brannon</p>
    <a href="https://www.vecteezy.com/free-vector/music-streaming-icons">Music Streaming Icons Vectors by Vecteezy</a>
  </footer>
  